{% extends "base.html" %} {% load static %} {% block css%} 
<link
rel="stylesheet" href="{% static "application/quiz-stat.css" %}"> 
{% endblock %}

<title>
  {% block title %}{{category|capfirst}} Quiz Statistics{% endblock %}
</title>

{% block content %}
<div class="background">
  <div class="main">
    <div class="container">
      <div class="container-flex">
        <div class="container-header">
          <h2 class="heading">{{category|capfirst}} Quiz Statistics</h2>
          <p class="subheading">See your cumulative quiz results</p>
        </div>

          <table>
            {% if not categories %}
            <tr>
              <th>English</th>
              <th>Spanish</th>
              <th>Tries</th>
              <th>Correct</th>
              <th>Wrong</th>
              <th>Percentage</th>
            </tr>
            {% for word in words %}
            <tr>
              <td>{{word.english_word}}</td>
              <td>{{word.spanish_word}}</td>
              <td>{{word.tries|floatformat:"0"}}</td>
              <td>{{word.correct_guesses|floatformat:"0"}}</td>
              <td>{{word.wrong_guesses|floatformat:"0"}}</td>
              <td>{{word.percentage|floatformat:"0"}}%</td>
            </tr>
            {% endfor %} {% else %}
            <tr>
              <th>Category</th>
              <th>Tries</th>
              <th>Correct</th>
              <th>Wrong</th>
              <th>Percentage</th>
            </tr>
            {% for word in words %}
            <tr>
              <td>{{word.category}}</td>
              <td>{{word.sum_tries|floatformat:"0"}}</td>
              <td>{{word.sum_correct_guesses|floatformat:"0"}}</td>
              <td>{{word.sum_wrong_guesses|floatformat:"0"}}</td>
              <td>{{word.avg_percentage|floatformat:"0"}}%</td>
            </tr>
            {% endfor %} {% endif %}
          </table>
          <a href="{% url "quiz-stat-home" %}" class="link"><h2 class="heading stat-link">See Quiz Statistics</h2></a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
