header {
  padding: 1rem, 1rem;
  background: linear-gradient(to right top, #fd5d5d, #ff8080);
}

body {
  height: 100vh;
  background-color: #fff7bc;
}

.g-header {
  color: #fff;
  text-align: center;
  font-size: 2rem;
}

.g-header h1 {
  font-size: 3rem;
}

.g-header nav a button {
  color: #fff;
  background-color: #fd5d5d;
  border-color: #fd5d5d;
}
.g-header nav a button:hover,
.g-header nav a button:active {
  background-color: rgb(255, 2, 2);
  color: #ffffff;
}

/* .btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
} */
