* {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  transform: translateX(-110px);
}

.inner-div {
  width: 20%;
  text-align: center;
  background-color: rgb(76, 85, 85);
  align-self: center;
  justify-self: center;
}
