{% extends "base.html" %}
{% load static %}
{% block css%}
<link rel="stylesheet" href="{% static "application/database.css" %}">
{% endblock %}

<title>{% block title %}Databases{% endblock %}</title>

{% block content %}
<div class="home-body">
<h1>{{category|capfirst}} Database</h1>
<p class="subtitle">Update or delete words from you database</p>
<div class="row row-cols-1 row-cols-md-3 g-4">
{% for word in words %}
<div class="col">
    <p>
        {{word.english_word}}: {{word.spanish_word}}
        <a href="{% url "update" word.id%}" method="post"> Update</a>  
        <a href="{% url "delete" word.id category %}" method="delete">Delete </a>
    </p>
</div>
{% endfor %}
{% endblock content %}